@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: black;
    z-index: 900;
}

.title-logo {
    display: flex;
}

.reelLogo {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 60px;
}

.menuIcon {
    padding-left: 0.75rem;
}

.headerTitle {
    font-family: 'DM Serif Display', serif;;
    font-weight: 450;
    color: gainsboro;
    margin: auto;
}